.container {
  width: 100%;
}
.forms {
  background-color: var(--dark-green-50);

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 20px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
