@use "../../../styles/mixins" as *;

.baseSection {
  width: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  @include toRem(gap, 30);

  padding: 2vw;
  overflow-anchor: none;

  margin-bottom: 100px;

  @include respond-to(sm) {
    align-items: unset;
  }

  @include respond-to(md) {
    width: 100%;
    padding: 5vw;
  }
}

.lightBg{
  background-color: var(--dark-green-25);
}